@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}

.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    margin-top: 3px;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
}


.blog .thumbnail img{
    width: 197px;
    height: 147px;
}

.blog{
    display: flex;
}

.blog-info{
    margin-left: 13px;
}

.blog-title{
    font-size: 20px;
}

.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}

.blog-author a{
    color: #562eff;
    font-size: 16px;
    text-decoration: none;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.course .banner img{
    width: 224px;
    height: 104px;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #ffc014;
}

.fa-star.empty{
    color: #aeaeae;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course-duration{
    background-color: lightgray;
    border-radius: 50px;
    padding: 0 2px;
}
